body{
    background-color: #39495E;

    /* background: transparent radial-gradient(closest-side at 50% 50%, #58687E 0%, #39495E 100%); */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
    /* 
    top: 0px;
    left: 0px; */
    /* width: 1920px;
    height: 930px; */
    /* background: transparent radial-gradient(closest-side at 50% 50%, #58687E 0%, #39495E 100%) 0% 0% no-repeat padding-box;
    opacity: 1; */

}
.container{
    width: 98%;
    margin:auto;
    overflow: hidden;
}

#company_logo{
    float:left;
    width:45%;
    padding:0;
    box-sizing: border-box;
    color: #FFFFFF;
}

#highradius_logo{
    /* background-image:url('../images/logo.svg'); */
    /* float:right; */
    /* width:80%; */
    color:#fff;
    text-align: left;
    position: relative;
    /* padding:10px; */
    box-sizing: border-box ;
}

#showcase-invoice {
    color:#fff;
    font-weight: lighter;
}

.box {
    color : #fff;
    background-color: #273D49CC;
    border-radius: 10px;
}



.btn{
    background-color: transparent;
    color:#97A1A9;
    border: 1px solid #97A1A9;
    border-radius: 5px;
    padding: 5px;
    font:large;
    opacity: 1;

    margin:10px;
    padding: 10px 20px;
    text-align: center;
    /* text-decoration: none;
    display: inline-block; */
    font-size: 16px;

}

.search{
    background-color: #283A46;
    color:#97A1A9;
    border: 1px solid #97A1A9;
    border-radius: 5px;
    padding: 5px;
    font:large;
    opacity: 1;

    margin:10px;
    padding: 10px 20px;
    text-align: left;
    /* text-decoration: none;
    display: inline-block; */
    font-size: 16px;
    width:300px;
    background-image: url('../images/search-24px\ \(3\).svg');
    background-position: right;
    background-repeat: no-repeat;
}

/* Add a black background color to the top navigation */
.topnav {
    /* background-color: #333; */
    overflow: hidden;
    padding:20px;
}

/* Style the links inside the navigation bar */

/* Change the color of links on hover */
.topnav button:hover {
    /* color: #fff; */
    border: 1px solid #14AFF1;
}

.topnav input:hover {
    /* color: #fff; */
    border: 1px solid #14AFF1;
}

.topnav input.active{
    border: 1px solid #14AFF1;
}

/* Add a color to the active/current link */
.topnav button.active {
    border: 1px solid #14AFF1;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.table-heading {
    text-align: left;
    color:#97A1A9;
}

.table-content {
    text-align: left;
}

.dark {
    background: #283A46;
}

th {
    padding-top:12px;
    padding-bottom:12px;
    padding-left:12px;
    /* padding-right:10px;   */
    border-bottom: #283A46 solid 1px; 
  }
  

td {
    padding-top:12px;
    padding-left:12px;
    padding-bottom:12px;
    /* padding-right:10px;    */
  }

  .my-cb{
      background-color: red;
  }



  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    
    width: 100%; /* Full width */
    height: 100%; /* Full height */

    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  

  .modal-content {
    background-color: #2A3E4C;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 70%;
    color:#FFFFFF;
    opacity: 1;
    border-radius: 10px ;
  }

  .edit-modal-content{
    background-color: #2A3E4C;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 35%;
    color:#FFFFFF;
    opacity: 1;
    border-radius: 10px ;
  }
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  .add-modal-content{
      display: flex;
  }

  .add-modal-inf{
      display: flex;
      /* height:2rem; */
      margin:1rem;
  }

  .add-modal-label{
      width:10rem;
      /* text-align: center; */
      /* border: #FFFFFF solid 2px; */
  }
  .add-modal-footer{
    width:100%;
    display: flex;
    border-top: #283A46 solid 3px; 
  }

  .add-modal-header{
      width:100%;
      display: flex;

      /* border-bottom:#FFFFFF solid 5px; */
      border-bottom: #283A46 solid 3px; 
  }
  .add-modal-inp{
    background-color: #283A46;
    color:#97A1A9;
    border: 1px solid #97A1A9;
    border-radius: 5px;
    padding: 5px;
    font:large;
    opacity: 1;

    margin: auto;
    padding: 10px 20px;
    text-align: left;

    font-size: 16px;
    width:15rem;

}

#add-btn-cancel{
    float:left;
    border:none;
    color:#14AFF1;
}

#add-btn-clear{
    float:right;
    color:#FFFFFF;

}

#add-btn-add{
    float:right;
    background-color:#14AFF1;
    color:#FFFFFF;
}


#add-notes{
    height:8rem;
}


.fade{
    color:#C0C6CA;
}
